* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-cl: #333;
}

body {
    color: var(--text-cl);
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    height: 40vh;
    background-color: rgb(126, 169, 219);
}

.container-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}